In [18]:
import torch 
import pandas as pd
from tqdm.notebook import tqdm

In [36]:
dataset = pd.read_csv("smileannotationsfinal.csv", names = ['id','text','emotion'])
dataset.set_index('id',inplace = True)

In [37]:
dataset['emotion'].value_counts()

nocode               1572
happy                1137
not-relevant          214
angry                  57
surprise               35
sad                    32
happy|surprise         11
happy|sad               9
disgust|angry           7
disgust                 6
sad|disgust             2
sad|angry               2
sad|disgust|angry       1
Name: emotion, dtype: int64

In [38]:
dataset = dataset[~dataset['emotion'].str.contains("\|")]

In [39]:
dataset['emotion'].value_counts()

nocode          1572
happy           1137
not-relevant     214
angry             57
surprise          35
sad               32
disgust            6
Name: emotion, dtype: int64

In [40]:
dataset = dataset[dataset['emotion']!="nocode"]

In [41]:
dataset['emotion'].value_counts()

happy           1137
not-relevant     214
angry             57
surprise          35
sad               32
disgust            6
Name: emotion, dtype: int64

In [42]:
dataset.emotion.unique()

array(['happy', 'not-relevant', 'angry', 'disgust', 'sad', 'surprise'],
      dtype=object)

In [43]:
emotion_labels = dataset.emotion.unique()

In [44]:
emotion_dict = {}
for index, emotion_labels in enumerate (emotion_labels):
    emotion_dict[emotion_labels] = index

In [45]:
emotion_dict

{'happy': 0,
 'not-relevant': 1,
 'angry': 2,
 'disgust': 3,
 'sad': 4,
 'surprise': 5}

In [46]:
dataset['labels'] = dataset.emotion.replace(emotion_dict)

In [47]:
dataset.head()

,text,emotion,labels
id,,,
614484565059596288,Dorian Gray with Rainbow Scarf #LoveWins (from...,happy,0
614746522043973632,@SelectShowcase @Tate_StIves ... Replace with ...,happy,0
614877582664835073,@Sofabsports thank you for following me back. ...,happy,0
611932373039644672,@britishmuseum @TudorHistory What a beautiful ...,happy,0
611570404268883969,@NationalGallery @ThePoldarkian I have always ...,happy,0